<html>
  <body>
    <form action="/login" method="post">
      id: whwlsvy12<br />
      <input type="text" name="id" /> <br />
      pw: 1234<br />
      <input type="text" name="pw" /> <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
